services:
	- App\Core\RouterFactory::createRouter

	# Security
	security.authenticator: App\Security\Authenticator

	# Components
	- App\Components\Navbar\NavbarFactory


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Repository
			- *Service

	-	in: %appDir%/Forms
		classes:
			- *Factory
