.git
.gitignore
.env
.env.local
.vscode
.claude
CLAUDE.md
vendor
node_modules
temp
log
*.patch
pathfinder-jk_changed-files
pathfinder-jk_phase2_changed-files
pathfinder-jk_phase3_changed-files
NAVOD-nasazeni-zmen.md
tipy-na-doplnění.txt
readme.md
