# Zkopíruj tento soubor jako ".env" a doplň skutečné hodnoty.
# ".env" je v .gitignore a nikdy se necommituje.

# --- Databáze (pro docker-compose i pro php -S bez Dockeru) ---
DB_HOST=db
DB_PORT=3306
DB_DATABASE=pathfinder_jk
DB_USERNAME=pathfinder
DB_PASSWORD=pathfinder
# Heslo root uživatele MySQL kontejneru (jen pro docker-compose, ne pro appku)
DB_ROOT_PASSWORD=root

# --- Mail (SMTP) ---
MAIL_SMTP=false
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
# ssl / tls / prázdné
MAIL_SECURE=

# --- OAuth přihlášení (nepovinné, funguje bez nich klasický email+heslo login) ---
# Google: https://console.cloud.google.com/apis/credentials
OAUTH_GOOGLE_ID=
OAUTH_GOOGLE_SECRET=
# Facebook: https://developers.facebook.com/apps
OAUTH_FACEBOOK_ID=
OAUTH_FACEBOOK_SECRET=
OAUTH_FACEBOOK_GRAPH_VERSION=v24.0
# Discord: https://discord.com/developers/applications
OAUTH_DISCORD_ID=
OAUTH_DISCORD_SECRET=
