# see https://doc.nette.org/en/configuring

parameters:
	oauth: %env.oauth%


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter


database:
	dsn: %env.database.dsn%
	user: %env.database.user%
	password: %env.database.password%


latte:
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets
			# type: vite  # Uncomment to activate Vite for asset building


mail:
	# Hodnoty se čtou z proměnných prostředí (MAIL_SMTP, MAIL_HOST, ...), viz .env.example
	smtp: %env.mail.smtp%
	host: %env.mail.host%
	port: %env.mail.port%
	username: %env.mail.username%
	password: %env.mail.password%
	secure: %env.mail.secure%


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
